.header-container{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    align-items: center;
    padding: 0 1.9vw !important;
}

.AddContactButton{
    height: 6vh;
    aspect-ratio: 1;
    cursor: pointer;
}

.header-chat{
    font-weight: 600;
    letter-spacing: -0.1vw;
}