.header-container {
    display: flex;
    justify-content: space-between;
    height: 12vh;
    align-items: center;
    padding: 0 1.9vw !important;
}

.AddContactButton {
    height: 6vh;
    aspect-ratio: 1;
    cursor: pointer;
}

.header-chat {
    font-weight: 600;
    letter-spacing: -0.1vw;
}

.hamburger{
    display: flex;
    align-items: center;
}





@media only screen and (max-width : 726px) {
    .header-container {
        padding: 0 5vw !important;
    }

    .AddContactButton {
        height: 5.5vh;
    }


    .header-chat {
        font-weight: 600;
        letter-spacing: -0.5vw;
        font-size: 4vh;
    }


}

@media only screen and (min-width : 726px) {
    .hamburger {
        display: none !important;
    }
}